body {
	margin: 0px;
	padding: 0px;
}
.wrapper {
	width: 320px;
	height: 548px;
	position: relative;
}
.placeholder {
	width: 320px;
	height: 548px;
	position: absolute;
	top: 0;
	left: 0;
}
.placeholder img {
	width: 100%;
}
#appMask {
	width: 320px;
	height: 548px;
	position: absolute;	
}