body {
	margin: 0px;
	padding: 0px;
	background: url(http://images4.wikia.nocookie.net/__cb20130821004324/epicrapbattlesofhistory/images/4/42/Loading.gif) no-repeat center center #000;
}
canvas { 
	background-color: #000;
}