.defaultBtn {
	position: fixed;
	left: 8px;
	top: 8px;
	z-index: 999999;
	width: 60px;
	height: 30px;
	background: url(http://www.wentin.co/buttons.png) no-repeat top left;	
	border-radius: 8px;
	border: solid 2px #ffffff;
	background-color: rgba(0,0,0,0.5);
}
.defaultBtn:hover {
	background: url(http://www.wentin.co/buttons.png) no-repeat center left;	
	cursor: pointer;
	background-color: rgba(0,0,0,0.5);
}
.recordBtn {
	position: fixed;
	left: 8px;
	top: 8px;
	z-index: 999999;
	width: 60px;
	height: 30px;
	background: url(http://www.wentin.co/buttons.png) no-repeat center left;
	border-radius: 8px;
	border: solid 2px #d91828;
	background-color: rgba(0,0,0,0.5);
}
.recordBtn:hover {
	/*background: url(http://www.wentin.co/buttons.png) no-repeat bottom left;*/
	cursor: pointer;
}
.playBtn {
	position: fixed;
	left: 8px;
	top: 8px;
	z-index: 999999;
	width: 60px;
	height: 30px;
	background: url(http://www.wentin.co/buttons.png) no-repeat bottom left;
	border-radius: 8px;
	border: solid 2px #038c8c;
	background-color: rgba(0,0,0,0.5);
}
.playBtn:hover {
	/*background: url(http://www.wentin.co/buttons.png) no-repeat center left;*/
	cursor: pointer;
}
#myCanvas {
	margin: auto;
	display: block;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.4);
}
#travelLength {
	position: fixed;
	font-size: 20px;
	left: 84px;
	top: 8px;
	color: white;
	height: 30px;
	line-height: 30px;
	border-radius: 8px;
	border: solid 2px #038c8c;
	padding: 0 10px;
	z-index: 999999;
	background-color: rgba(0,0,0,0.5);
}